

<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to TYDIR</h1>
    <p>
      Turning Your Dreams Into Reality 
    </p>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>


  <style>
img.fixed {
  height: 20;
  width: 300;
}
  </style>


  <div class="row">
      <div class="span4">
          <img class="fixed" src="coffee2.jpg" width="100%"><br>
    
       <h2>No more mass emailing and stressful coffee chats</h2>
  
      </div>

      <div class="span4">
          <img  class="fixed" src="/phonecall.jpg" width="100%"> <br>
          <h2>No more wasteful phone calls </h2>
      </div>

      <div class="span4">
          <img class="fixed" src="/lectures.jpg" width="100%"> <br>
           <h2>No more unhelpful industry panels </h2>
      </div>
  
  




<% end %>