<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="/auth/callback">Main Page</a> <span class="divider">/</span></li>
</ul>


<h1>Welcome to TYDIR</h1>

</table>
</center>

<center>
  <table>
    <tr>
      	<th>
			 <img class="fixed" src="/coffee2.jpg" width="100%"><br>
			<h1> <%=link_to "Finance", "/auth/finance"%></h1>

		</th>
		
		<th>
			<%= raw(youtube_embed('http://www.youtube.com/watch?v=wqks_R90ykI')) %> <br>
			<h1> <%=link_to "Marketing", "/auth/marketing"%></h1>

		</th>

		<th>
			<%= raw(youtube_embed('http://www.youtube.com/watch?v=wqks_R90ykI')) %> <br>
			<h1> <%=link_to "Consulting", "/auth/consulting"%></h1>

		</th>

		<th>
			<%= raw(youtube_embed('http://www.youtube.com/watch?v=wqks_R90ykI')) %> <br>
			<h1> <%=link_to "Tech", "/auth/tech"%></h1>

		</th>
	</tr>
</table>
</center>
